
.container{
    background-image:url('/assets/large-material.jpeg');
    width:100%;
    height:100%; 
}
.content{
    display:flex;
    justify-content:center;
    
}
.title{
    color:white;
    font-size: 2.4rem;
    font-weight:600;
}
.button{
    background-color: rgb(20, 197, 138);
    color:white;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 20%;
    width:60%;
    height:20%;

}
.button:hover{
    background-color:white;
    color: rgb(20, 197, 138);
    border: 1px solid rgb(20, 197, 138);
    
}
.main-card{
    background:transparent;
    margin-top:10%;
    width:39%;
    height:20rem;
    display:flex;
    justify-content:center;
    flex-direction: column;
}
mat-icon {
    margin-right: 0.5vw;
    margin-top: -0.2vw;
    font-weight: 500;
}