<div class="container">
    <button mat-icon-button matTooltip="Login" id="login" *ngIf="!userLoggedIn" (click)="login()" ><mat-icon>login</mat-icon></button>
    <button mat-icon-button matTooltip="Logout" id="login" *ngIf="userLoggedIn" (click)="logout()" ><mat-icon>logout</mat-icon></button>

    <div class="content">

        <div class="main-card">
            <h1 class="title">Duke Strategic Technologies PKI System</h1>
            <button mat-raised-button class="button" (click)="createCertificate()" *ngIf="hasCA"><mat-icon>add</mat-icon>Create certificate</button>
            <button mat-raised-button class="button" (click)="allCertificates()"><mat-icon>view_headline</mat-icon>All certificates</button>
        </div>



    </div>

</div>
