.container{
    width:100%;
    height:100%; 
}


#header{
    width: 100%;
    height: 25%;
    background-image:url('/assets/large-material.jpeg');
}
#title{
    width:100%;
    display:flex;
    justify-content:center;
    /* flex-direction:row; */
}
#title h2{
    color:white; 
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 1%;
}
#select-div{
    width:100%;
    display:flex;
    justify-content:center;
}
#select{
    margin-top: 20px;
    background-color:white;
    width:500px;
    height:50px;
}
#back{
    background-color: rgb(28, 133, 165);
    color:white;
    /* font-size: 1.2rem; */
    margin-top:20px;
    margin-left: 1.73%;
    width:50px;
    height:50px;
}
#back:hover{
    background-color:white;
    color: rgb(28, 133, 165);
    border: 1px solid rgb(28, 133, 165);
    
}

#choose-button{
width:100px;
height: 40px;
background-color: rgb(28, 133, 165);
color:white;
}

#choose-button:hover{
    background-color:white;
    color: rgb(28, 133, 165);
    border: 1px solid rgb(28, 133, 165);
}

#choose-button:disabled{
    background-color:gray;
    color: white;
    border: 1px solid rgb(28, 133, 165);

}

.example-card{
display: flex;
flex-direction: column;
justify-content: center;
margin-left:30%;
margin-right: 30%;
width:40%;
margin-bottom: 20px;

}

#usages-div{
    word-wrap: break-word;
}

